.bread{
    background-color: #0277BD;
    height: 40px;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    margin-left: 10px;
    margin-top: 3px;

}
.bre{
    text-decoration-color: blanchedalmond;
    margin: 10px;
    align-items: flex-end;
}

.nav-link1{
text-decoration-line: none;
  color:white;
  font-size: 10pt;
  align-self: flex-start;
  display: block;
  padding: .5rem 1rem;
}