.MuiIcon-root{
    color: #0277BD;
    padding-top: 18em;
    padding-left: 42em;
    padding-right: 25em;
    width: 150cm;
    /* padding-bottom: 80em; */
    

}
.MuiTypography-h3{
    padding-top: 0rem;
    padding-left:36rem;
    

}
.MuiTypography-h4{
    padding-top: 5rem;
    padding-left:33rem;
    

}
.crossalign{
    background-color: #0277BD;
    color : #ffffff;
    width: 10cm;
   align-content: center;
    
  }
.temp{
    padding-top: 3em;
    padding-left: 17cm;
   
    padding-bottom: 35em;
    /* color: #0277BD; */
    

}
.temp1{

    /* align-content: center; */
    background-color: #ffffff !important;
    height:2em;
    width: 15em;
    font-weight:bold !important ;
    color: #0277BD  !important;

}